# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
pigeon-*.tar

# Temporary files for e.g. tests.
/tmp

# Ignore dialyzer files
/priv/plts/*.plt
/priv/plts/*.plt.hash

# Misc.
cert.pem
key_unencrypted.pem
AuthKey.p8
service-account.json
*.p12
secrets.tar
scratchpad.txt
.DS_Store
.iex.exs
*.swp
.idea
pigeon.iml
.envrc
